* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* skrifttyper */
.playfair-display {
  font-family: "Playfair Display", serif;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.titel span {
  display: inline-block;
  transform: scaleX(-1) translateX(-0.2rem);
  color: rgb(0, 0, 0);
  font-size: 2rem;
}

.filter-container {
  position: relative;
  left: 60px;
  top: 60px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 8px;
  cursor: pointer;
}

.køb:hover .tooltip3 {
  opacity: 1;
  visibility: visible;
}
.dropdown {
  place-self: center;
  width: 400px;
}
.submit {
  background-color: white;
  padding: 10px;
  position: relative;
  left: 20%;
  border-radius: 10px;
}

.submit:hover {
  background-color: rgb(0, 255, 0);
  padding: 10px;
  position: relative;
  left: 20%;
  border-radius: 10px;
}
.dropdown-content {
  display: none;
  position: absolute;
  left: 28%;
  background: white;
  padding: 55px;
  border: 5px solid #48ff00;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
  z-index: 1000;
  font-family: flayfair display;
  font-weight: bold;
}

.dropdown:focus-within .dropdown-content {
  display: block;
}

.tooltip3 {
  position: absolute;
  top: 520px;
  left: 60%;
  transform: translateX(-50%);
  padding: 6px 10px;
  background-color: rgb(0, 255, 0);
  color: black;
  border-radius: 4px;
  font-size: 0.8rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.køb {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  top: 10;
  width: 50%;
  place-self: center;
  border-radius: 30px;
  background-color: white;
  border: 1px solid;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 255, 30, 0.471);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.løb {
  font-weight: 450;
  border: 2px solid;
}

.product-image {
  width: 100%; /* Sætter bredden på billedet til 100% af containeren */
  height: 100%; /* Bevarer billedets proportioner */
  border-radius: 10px; /* Runder kanterne på billedet */
  object-fit: cover; /* Sørger for, at billedet fylder containeren uden at forvrænge det */
}

label:hover {
  margin-right: 8px;
  cursor: pointer;
  color: rgb(0, 255, 0);
  font-size: 16px;
}

label {
  font-family: "playfair display", sans-serif;
  font-size: 16px;
  color: black;
  cursor: pointer;
}

.check {
  font-family: "playfair display", sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: bold;
  padding-bottom: 20px;
}
.titel {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  text-decoration: 1px gray underline;
  color: black;
  font-weight: bolder;
  place-self: center;
  text-align: center;
  justify-self: center;
}

.header:hover {
  color: rgb(0, 255, 0);
}
.titel span:hover {
  color: rgb(0, 255, 0);
}

/* produkt */
.sold-out {
  font-weight: bold;
  font-size: 1.4rem;
  text-decoration: 2px rgb(255, 0, 0) underline;
}

.in-stock {
  font-weight: bold;
  font-size: 1.4rem;
  text-decoration: 2px rgb(0, 255, 0) underline;
}

.price {
  font-weight: bold;
  font-size: 1.4rem;
}

.produkttitel {
  font-weight: bold;
  font-size: 2.2rem;
}

.linje {
  width: 80%;
  height: 0.1px;
  background-color: #d3d3d3;
  place-self: center;
}
.linje2 {
  width: 80%;
  height: 0.1px;
  background-color: #d3d3d3;
  place-self: center;
}
h2 {
  font-family: "Roboto", serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  position: relative;
  left: 10%;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 9s steps(100) 1s forwards;
}

h4 {
  font-family: "Roboto", serif;
  font-size: 1rem;
  font-weight: bold;
}
a {
  font-family: "Roboto", serif;
  font-weight: lighter;
  text-decoration: underline;
  color: black;
}
.nike {
  position: relative;
  font-size: 5rem;
  font-family: roboto;
  left: 9.5%;
  line-height: 0.75;
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 7s steps(100) 1s forwards;
  z-index: 1;
}
.nike1 {
  position: relative;
  font-size: 1rem;
  font-family: roboto;
  left: 10.5%;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 4s steps(100) 1s forwards;
  z-index: 0;
  z-index: 1;
}

select {
  padding: 10px;
}
.load {
  width: 150%;
  height: 30px;
  place-self: center;
  position: relative;
  font-size: 1rem;
  font-family: roboto;
  margin: 50px;
  border-radius: 15px;
  background-color: rgb(26, 26, 26);
  color: white;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.load:hover {
  transition: transform 0.3s ease-in-out;
}

a:hover {
  font-weight: 450;
}
/* forside */
.cykel {
  position: relative;
  padding: 55px;
  padding-bottom: 100px;
  opacity: 80%;
}

/* produktliste */
footer {
  padding: 20px;
  text-align: center;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 80%;
}
.typewriter {
  font-family: "roboto", sans-serif;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 4s steps(30) 1s forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.bag-container {
  position: relative;
  padding: 100px;
}
.basket {
  font-size: 8rem;
  color: black;
  place-self: center;
}
.floating-cart {
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bold;
  transition: transform 0.3s ease-in-out, 0.3s ease-in-out;
  padding: 10px;
  margin-left: 55px;
}

.floating-cart:hover {
  transform: scale(1.1);
}

.floating-cart-header {
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bold;
  transition: transform 0.3s ease-in-out, 0.3s ease-in-out;
  right: 20px;
  top: 20px;
}

.floating-cart-header:hover {
  transform: scale(1.1);
}
.categorylist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  height: 100%;
  width: 100%;
  padding-bottom: 200px;
}

/* .categorylist img {
  opacity: 70%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  height: 150px;
  width: 100%;
}
.categorylist img:hover {
  opacity: 100%;
} */

.categorylist a {
  font-family: "Roboto", serif;
  text-transform: uppercase;
  text-decoration: 0.1px gray underline;
  font-weight: bold;
  top: 50%;
  font-size: 1rem;
  border-radius: 10px;
  background: white;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(119, 119, 119, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  height: 100%;
  width: 100%;
}
.categorylist a:hover {
  font-weight: 450;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.productlist article h3 {
  font-family: "Roboto", serif;
  font-size: 1rem;
  flex-grow: 3;
}

/* form */
.purchaseBox {
  color: black;
  padding: 50px;
  border: 1px rgb(128, 128, 128) solid;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.info {
  padding: 50px;
}
.product select {
  min-width: 30px;
  border-radius: 30px;
}
.product select:hover {
  border: 2px solid;
}

.product main {
  display: grid;
}
.product,
.product img {
  grid-column: 1/-1;
  padding: 40px;
}
.purchaseBox form label {
  gap: 1rem;
}
.purchaseBox button {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  width: 50%;
  place-self: center;
  border-radius: 30px;
  background-color: white;
  border: 1px solid;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 255, 30, 0.471);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.purchaseBox button:hover {
  font-weight: 450;
  border: 2px solid;
}
dt {
  font-weight: 700;
  text-decoration: underline;
  padding-top: 10px;
}
.bag {
  position: relative;
}

/* Tooltip TIL ADD TO BAG  */
.tooltip {
  position: absolute;
  top: -20px;
  left: 80%;
  transform: translateX(-50%);
  padding: 6px 10px;
  background-color: rgb(0, 255, 0);
  color: black;
  border-radius: 4px;
  font-size: 0.8rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.bag:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
/* Tooltip TIL SCROOL NED  */
.tooltip1 {
  position: absolute;
  top: -350px;
  left: 40%;
  transform: translateX(-50%);
  padding: 6px 10px;
  background-color: rgb(0, 255, 0);
  color: black;
  border-radius: 4px;
  font-size: 1.3rem;
  white-space: nowrap;
  opacity: 1;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.cykel:hover ~ .bag .tooltip1 {
  opacity: 1;
  visibility: visible;
}

/* Når musen er over .cykel, vis tooltip'en */
.cykel:hover + .bag .tooltip1 {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 800px) {
  .categorylist a {
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(119, 119, 119, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .product {
    display: flex;
    align-items: flex-start;
    gap: 100px;
    margin: 5px;
  }

  .product img {
    flex: 1;
    max-width: 100%;
    padding-left: 60px;
    height: auto;
  }

  .purchaseBox {
    flex: 1;
    place-self: start end;
    padding: 80px;
  }

  .purchaseBox,
  h3 {
    font-size: 3rem;
  }
  .purchaseBox,
  p {
    font-size: 1.5rem;
  }
  .purchaseBox form label {
    font-size: 1.5rem;
  }
  .purchaseBox button {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    width: 70%;
    place-self: center;
    border-radius: 30px;
    background-color: white;
    border: 1px solid;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 255, 30, 0.49);
  }
  .load {
    left: 165%;
    width: 150%;
    height: 30px;
    place-self: center;
    position: relative;
    font-size: 1rem;
    font-family: roboto;
    margin: 50px;
    border-radius: 15px;
    background-color: rgb(26, 26, 26);
    color: white;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 80%;
  }
  .plads {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    gap: 20px;
  }

  .text {
    flex: 1;
    max-width: 50%;
  }

  .cykel {
    flex: 1;
    width: 100%;
    height: auto;
  }

  /* Tooltip TIL SCROOL NED  */
  .tooltip1 {
    position: absolute;
    top: 50px;
    left: 10%;
    transform: translateX(-50%);
    padding: 6px 10px;
    background-color: rgb(0, 255, 0);
    color: black;
    border-radius: 4px;
    font-size: 1.8rem;
    white-space: nowrap;
    opacity: 1;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  .cykel:hover ~ .bag .tooltip1 {
    opacity: 1;
    visibility: visible;
  }

  /* Når musen er over .cykel, vis tooltip'en */
  .cykel:hover + .bag .tooltip1 {
    opacity: 1;
    visibility: visible;
  }

  .filter-container {
    position: relative;
    left: 180px;
    top: 60px;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 8px;
    cursor: pointer;
  }

  label:hover {
    margin-right: 8px;
    cursor: pointer;
    color: rgb(0, 255, 0);
    font-size: 16px;
  }

  label {
    font-family: "playfair display", sans-serif;
    font-size: 16px;
    color: black;
    cursor: pointer;
  }

  .check {
    font-family: "playfair display", sans-serif;
    font-size: 1rem;
    color: black;
    font-weight: bold;
    padding-bottom: 20px;
  }
  .bag-container {
    position: relative;
    padding: 10px;
    left: 100px;
  }
  .basket {
    font-size: 3rem;
    color: black;
    place-self: center;
  }
  .top {
    position: relative;
    left: 10px;
  }
  .product-in-bag {
    position: relative;
    left: 75px;
    top: 0px;
  }
  .product-image {
    width: 15%; /* Sætter bredden på billedet til 100% af containeren */
    height: 100%; /* Bevarer billedets proportioner */
    border-radius: 10px; /* Runder kanterne på billedet */
    object-fit: cover; /* Sørger for, at billedet fylder containeren uden at forvrænge det */
  }
  .køb {
    position: absolute;
    z-index: 1000;
    left: 450px;
    place-self: start;
    margin-top: 4.5rem;
    margin-bottom: 2.5rem;
    top: 10;
    width: 15%;
    place-self: center;
    border-radius: 30px;
    background-color: white;
    border: 1px solid;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 255, 30, 0.471);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .køb:hover .tooltip3 {
    opacity: 1;
    visibility: visible;
  }
  .dropdown {
    place-self: center;
    width: 400px;
  }
  .submit {
    background-color: white;
    padding: 10px;
    position: relative;
    left: 20%;
    border-radius: 10px;
  }

  .submit:hover {
    background-color: rgb(0, 255, 0);
    padding: 10px;
    position: relative;
    left: 20%;
    border-radius: 10px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    left: 26.5%;
    top: 380px;
    background: white;
    padding: 55px;
    border: 5px solid #48ff00;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    z-index: 1000;
    font-family: flayfair display;
    font-weight: bold;
  }

  .dropdown:focus-within .dropdown-content {
    display: block;
  }

  .tooltip3 {
    position: absolute;
    top: 30px;
    left: 60%;
    transform: translateX(-50%);
    padding: 6px 10px;
    background-color: rgb(0, 255, 0);
    color: black;
    border-radius: 4px;
    font-size: 0.8rem;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
}
